@{
    ViewBag.Title = "会议";
}

<div class="all_content">
    <div class="article">
        <a href="javascript:history.go(-1);" class="back fl">&lt;</a>
        <span class="fr" style="padding:0 1.5rem;">&nbsp;</span>
        <h2>会议内容</h2>

    </div>

    <ul class="common">
        <li><a href="/meet/SeatImg"><span><img src="/images/huiyi_1.png" style="padding-top: 10px;"></span><b>会议座位图</b></a></li>
        <li><a href="/meet/FlowList"><span><img src="/images/liucheng.png"></span><b>会议流程</b></a></li>
        <li><a href="/meet/download"><span><img src="/images/xiazai.png"></span><b>资料分享</b></a></li>
    </ul>
</div>
